input{
  width: 55%;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 8px;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 25px;
  background-color: rgba(255,255,255,0.5);
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea{
  width: 54%;
  height: 15em;
}

input:hover { 
transition: background-color 0.5 ease;
background-color:white;
}

#contact{
  text-align: center;
}

.background {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: #599262;
  font-family: 'Jost', sans-serif;
  padding-top: 100px;
}

.title {
  text-shadow: 2px 2px #DDBEA9;
  color: white;
}

#footer-icon {
  display: flex;
  justify-content: center;
}

#submit {
  font-family: 'Jost', sans-serif;
}